<div>
  <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
  </div>
</div>

<div>
  <div class="container">
    <ul class="bis-menu">
      <li class="flex-fill"><a href="{% url 'home' %}">My Dashboard</a></li>
      <li class="flex-fill"><a href="{% url 'inventory_page' %}">My Storefront/Inventory</a></li>
      <li class="flex-fill"><a href="{% url 'orders_page' %}">My Orders</a></li>
    </ul>
  </div>
</div>
