{% load static %}
<div class="mb-4" >
  <div style="border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0;padding: 13px 0;">
    <div class="container">
      <ul class="shopper-menu">
        <li>
          <a>
             <img style="height: 20px" src="{% static 'images/icon-shop.svg' %}"/> My Shops
          </a>
        </li>
        <li>
          <a>
             <img style="height: 20px" src="{% static 'images/icon-purchase.svg' %}"/> My Purchases
          </a>
        </li>
        <li>
          <a><img style="height: 20px" src="{% static 'images/shopping-bag-2.svg' %}"/> My Collections</a>
        </li>
      </ul>
    </div>
  </div>
</div>
