{% extends "base.html" %}

{% block content %}
  {% include "pages/includes/shopper_menu.html" %}

  <div class="container">
    <multi-shops :media-url="media_url"></multi-shops>
  </div>
{% endblock %}

{% block main_vue %}
  <script>
  let main = new Vue({
    el: '#app',
    delimiters: ["[{", "}]"],
    data: function () {
      return {
        media_url: "{{ MEDIA_URL }}",
      }
    },
    created() {
      {% if user.is_authenticated %}
        this.$store.dispatch('get_user');
      {% endif %}
    }
  });
  </script>
{% endblock %}
