{% extends "master_base.html" %}
{% load static i18n %}

{% block main %}
  <div id="app">
    <div class="">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 30px"></a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                </li>
              {% else %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>

            <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle user-avatar d-flex align-items-center" href="javascript:void(0)" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <avatar username="{{ user.username }}" :size="25"></avatar>
                  <span style="font-size: 10px; margin: 0 10px;line-height: 10px">{{ user.first_name }}<br/> {{ user.last_name }}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Account</a>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                </div>
              </li>
              {% endif %}
              <li class="d-flex align-items-center">
                <cart-widget media-url="{{ MEDIA_URL }}"></cart-widget>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}
    </div>

    {% block content %}
    {% endblock %}
  </div>
{% endblock %}


