{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bloom{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=“google-site-verification” content=“07WlVtpH0h-ldisYzFq0lmM419MfSnTY1lWAbhkAmMk” />

    {% block meta %}
    <meta name=”robots” content="index, follow">
    <meta name="description" content="This is an ecomerce project">
    <meta property="og:title" content="Bloom">
    <meta property="og:description" content="This is an ecomerce project">
    <meta property="og:image" content="">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endblock %}

    <meta name="author" content="Bloom">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css file app %}
      <link href="{% static 'libs/bloomLib.css' %}" rel="stylesheet">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

  </head>

  <body>
    {% block signup %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% csrf_token %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->
      <script src="{% static 'libs/bloomLib.umd.js' %}"></script>
      {% compress js file app %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

    {% endblock javascript %}

    {% block main_vue %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </body>
</html>

