
<ul role="menubar" class="el-menu-vertical-demo el-menu" style="height: 100%; min-height: 400px">
  <li role="menuitem" tabindex="-1" class="el-menu-item {% if page == 'profile' %}is-active{% endif %}" style="padding-left: 20px;">
    <i class="fas fa-user"></i> <a href="{% url 'users:detail' %}"><span>Your profile</span></a>
  </li>
  {% if user.role_type == '1' %}
  <li role="menuitem" tabindex="-1" class="el-menu-item {% if page == 'stripe' %}is-active{% endif %}" style="padding-left: 20px;">
    <i class="fab fa-stripe-s"></i> <a href="{% url 'users:stripe-integration' %}"><span>Stripe integration</span></a>
  </li>
  <li role="menuitem" tabindex="-1" class="el-menu-item {% if page == 'shopify' %}is-active{% endif %}" style="padding-left: 20px;">
    <i class="fab fa-shopify"></i> <a href="{% url 'users:shopify-integration' %}"><span>Shopify integration</span></a>
  </li>
  {% endif %}
</ul>
