{% extends "base.html" %}

{% block title %}Purchase Canceled | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <order-canceled :media-url="media_url" :uuid-order="uuid_order"></order-canceled>
  </div>
{% endblock %}

{% block main_vue %}
  <script>
  let main = new Vue({
    el: '#app',
    delimiters: ["[{", "}]"],
    data: function () {
      return {
        media_url: "{{ MEDIA_URL }}",
        uuid_order: "{{ order.uuid }}"
      }
    },
  });
  </script>
{% endblock %}
