{% extends "base.html" %}
{% block title %}{{ product.title }} | {{ block.super }}{% endblock title %}

{% block meta %}
  <meta name=”robots” content="index, follow">
  <meta name="description" content="{{ product.description }}">
  <meta property="og:title" content="{{ product.title }}">
  <meta property="og:description" content="{{ product.description }}">
  <meta property="og:image" content="{{ product.thumbnail.url }}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}
  {% include "pages/includes/shopper_menu.html" %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12 col-md-12">
        <product-details :media-url="media_url" :product-id="product_id"></product-details>
      </div>

    </div>
  </div>
{% endblock %}

{% block main_vue %}
  <script>
  let main1 = new Vue({
    el: '#app',
    delimiters: ["[{", "}]"],
    data: function () {
      return {
        product_id: "{{ product.uuid }}",
        media_url: "{{ MEDIA_URL }}",
      }
    },
    created() {
      {% if user.is_authenticated %}
      this.$store.dispatch('get_user');
      {% endif %}
    }
  });
  </script>
{% endblock %}
