@import "custom_bootstrap_vars";
@import "bootstrap";
@import "fontawesome";
@import "regular";
@import "solid";
@import "light";
@import "brands";

// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$icon-color: #4f4f4f;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}
.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
.fa-1x-half {
    font-size: 1.5em;
}
.socialaccount_providers {
  list-style: none;
  padding-left: 0;
  li {
    a {
      font-size: 90%;
    }
  }
}
.or-cls {
  padding: 5px 10px;
  background-color: #fefcff;
  top: -12px;
  position: relative;
}
.Password.is-invalid ~ .invalid-feedback {
  display: block;
}
.autocomplete-field.form-group {
  .form-group.input-field {
    margin-bottom: 0;
  }
}
.dropdown-toggle.user-avatar:after {
  position: relative;
}
.bis-menu {
  list-style: none;
  display: flex;
  padding-left: 0;
  li {
    text-align: center;
    width: 33.33%;
  }
  li+li::after {
    color: #000;
    content: "|";
    float: left;
    display: inline-block;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.color-1 {
  color: #4FC5E9;
}
.white {
  color: #fff
}
.bg-1 {
  background-color: #4FC5E9;
}
.text-1 {
  font-size: 36px;
}
.text-2 {
  font-size: 24px;
}
.bis-menu {
  li {
    a {
      color: #000;
    }
  }
  li.active {
    a {
      color: #7bd2ee;
    }
  }
}
.shopper-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 15px;
    a {
      color: #0C242E;
      img {
        margin-right: 5px;
      }
    }
    a:hover {
      text-decoration: none !important;
    }
  }
  li.active {
    background: #4FC5E9;
    border-radius: 10px;
    padding: 5px 15px;
    a {
      color: white;
      .icon-my-shops{
        content: url("../images/active/icon-shop.svg");
      }
      .icon-purchase {
        content: url("../images/active/icon-purchase.svg");
      }
      .icon-collection {
        content: url("../images/active/shopping-bag-2.svg");
      }
    }
  }
}
.navbar-light {
  background-color: #FFFCFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.font-12 {
  font-size: 12px;
}
.font-10 {
  font-size: 10px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}

@media (max-width: 768px) {
  #navbarSupportedContent .w-50 {
    width: 80% !important;
  }
}

@media (max-width: 414px) {
  #navbarSupportedContent .w-50 {
    width: 100% !important;
  }
}
.nowrap {
  white-space: nowrap;
}
