{% extends "business_base.html" %}

{% block content %}
  <div class="container px-lg-3 py-4 bg-white h-100">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <product-add :media-url="media_url" :shop="shop"></product-add>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_vue %}
  <script>
  let main1 = new Vue({
    el: '#app',
    delimiters: ["[{", "}]"],
    data: function () {
      return {
        product: {},
        media_url: "{{ MEDIA_URL }}",
        shop: "{{ shop.id }}"
      }
    },
    methods: {

    }
  });
  </script>
{% endblock %}
