{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
  {% get_providers as socialaccount_providers %}
  <div class="col-md-6" id="sign-up-form">
    <div class="col-md-10">
      <h2>{% trans "Sign Up" %}</h2>

      <form class="signup" id="signup_form" method="post" @submit="handleSubmit" v-cloak>
        {% csrf_token %}
        <div class="form-group mt-3">
          <div class="form-check form-check-inline mr-4">
            <input class="form-check-input" type="radio" v-model="role_type" name="role_name" id="inlineRadio1" value="2">
            <label class="form-check-label" for="inlineRadio1">Shopper</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" v-model="role_type" name="role_name" id="inlineRadio2" value="1">
            <label class="form-check-label" for="inlineRadio2">Vendor</label>
          </div>
        </div>
        <div id="shopper" v-if="role_type == '2'">
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.first_name}" type="text" class="form-control" required v-model="shopper.first_name" id="first_name" placeholder="First name">
              <div class="invalid-feedback" v-if="errors.first_name">
                [{ errors.first_name.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input :class="{'is-invalid': errors.last_name}" type="text" class="form-control" required id="last_name" v-model="shopper.last_name"  placeholder="Last name">
              <div class="invalid-feedback" v-if="errors.last_name">
                [{ errors.last_name.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input :class="{'is-invalid': errors.phone_number}" type="text" class="form-control" required v-model="shopper.phone_number"  id="phone_number" placeholder="Phone number">
              <div class="invalid-feedback" v-if="errors.phone_number">
                [{ errors.phone_number.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.email}" type="email" class="form-control" required id="email" v-model="shopper.email"  name="email" placeholder="Email">
              <div class="invalid-feedback" v-if="errors.email">
                [{ errors.email.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input :class="{'is-invalid': errors.username}" type="text" class="form-control" required id="username" v-model="shopper.username"  name="username" placeholder="Username">
              <div class="invalid-feedback" v-if="errors.username">
                [{ errors.username.join(", ") }]
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.password}" type="password" class="form-control" required id="password" v-model="shopper.password"  placeholder="Password">
              <div class="invalid-feedback" v-if="errors.password">
                [{ errors.password.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="password" :class="{'is-invalid': errors.confirm_password}" class="form-control" required id="confirm_password" v-model="shopper.confirm_password" name="confirm_password" placeholder="Password">
              <div class="invalid-feedback" v-if="errors.confirm_password">
                [{ errors.confirm_password.join(", ") }]
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="form-row">
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.first_name}" class="form-control" required v-model="vendor.first_name" id="first_name" placeholder="First name">
              <div class="invalid-feedback" v-if="errors1.first_name">
                [{ errors1.first_name.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.last_name}" class="form-control" required v-model="vendor.last_name" id="last_name" placeholder="Last name">
              <div class="invalid-feedback" v-if="errors1.last_name">
                [{ errors1.last_name.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" :class="{'is-invalid': errors1.phone_number}" class="form-control" required id="phone_number" v-model="vendor.phone_name" placeholder="Phone number">
              <div class="invalid-feedback" v-if="errors1.phone_number">
                [{ errors1.phone_number.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input type="email" :class="{'is-invalid': errors1.email}" class="form-control" required id="email" name="email" v-model="vendor.email" placeholder="Email">
              <div class="invalid-feedback" v-if="errors1.email">
                [{ errors1.email.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.business_address}" class="form-control" required id="business_address" v-model="vendor.business_address" name="business_address" placeholder="Business Address">
              <div class="invalid-feedback" v-if="errors1.business_address">
                [{ errors1.business_address.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.business_phone}" class="form-control" required id="business_phone" v-model="vendor.business_phone" name="business_phone" placeholder="Business Phone">
              <div class="invalid-feedback" v-if="errors1.business_phone">
                [{ errors1.business_phone.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input type="password" :class="{'is-invalid': errors1.password}" class="form-control" required id="password" v-model="vendor.password" name="password" placeholder="Password">
              <div class="invalid-feedback" v-if="errors1.password">
                [{ errors1.password.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="password" :class="{'is-invalid': errors1.confirm_password}" class="form-control" required id="confirm_password" v-model="vendor.confirm_password" name="confirm_password" placeholder="Password">
              <div class="invalid-feedback" v-if="errors1.confirm_password">
                [{ errors1.confirm_password.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <select id="store_type" :class="{'is-invalid': errors1.store_type}" class="form-control" v-model="vendor.store_type">
                <option value="" disabled selected>Store Type</option>
                <option v-for="option in store_types" :value="option.value">
                  [{ option.text }]
                </option>
              </select>
              <div class="invalid-feedback" v-if="errors1.store_type">
                [{ errors1.store_type.join(", ") }]
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 mb-4">
          <p class="text-center">Or <br> Sign up with</p>
          {% if socialaccount_providers %}
            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers d-flex justify-content-center">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                <li>
                  <a class="socialaccount_provider d-flex justify-content-center"
                     href="javascript:void(0)">
                    <i class="fa fa-plus fa-1x-half"></i>
                  </a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="">
          <button :disabled="loading" class="primaryAction btn btn-primary btn-block btn-lg" type="submit">{% trans "Sign Up" %}</button>
          <p class="text-center mt-2">Already have an account? <a href="{{ login_url }}">Log in</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6" style="background-color: #ccc">

</div>
{% endblock %}

{% block extra_js %}
  <script>
  var app = new Vue({
    el: '#sign-up-form',
    delimiters: ["[{", "}]"],
    data: {
      shopper: {
        username: "",
        first_name: "",
        last_name: "",
        phone_number: "",
        email: "",
        password: "",
        confirm_password: "",
      },
      vendor: {
        first_name: "",
        last_name: "",
        phone_number: "",
        email: "",
        password: "",
        confirm_password: "",
        business_address: "",
        business_phone: "",
        store_type: "",
      },
      role_type: "2",
      store_types: [
        {value: "food", text: "Food"},
        {value: "clothes", text: "Clothes"},
        {value: "electronics", text: "Electronics"},
      ],
      errors: {},
      errors1: {},
      loading: false
    },
    watch: {
      role_type: function (val) {
        this.initRole(val)
      }
    },
    computed: {
    },
    created: function () {
      this.initRole(this.role_type);
    },
    methods: {
      initRole: function (val) {
        axios.get(`{% url 'api:signup-initial' %}?role=${val}`)
      },
      handleSubmit: function (e) {
        let that = this;

        this.loading = true;
        e.preventDefault()
        if (this.role_type == '2') {
          this.errors = {};
          axios.post("{% url 'api:shopper-signup' %}", this.shopper).then(function (res) {
            that.loading = false;
            alert("Your account created successfully.")
            location.href = '{{ login_url }}';
          }).catch(function (errors) {
              that.loading = false;
              that.errors = errors.response.data;
          })
        } else {
          this.errors1 = {};
          axios.post("{% url 'api:vendor-signup' %}", this.vendor).then(function (res) {
            that.loading = false;
            alert("Your account created successfully.")
            location.href = '{{ login_url }}';
          }).catch(function (errors) {
              that.loading = false;
              that.errors1 = errors.response.data;
          })
        }
      }
    }
  })
  </script>
{% endblock %}

