{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
  {% get_providers as socialaccount_providers %}
  <div class="col-md-6" id="sign-up-form">
    <div class="col-md-10">
      <h3 class="color-1">{% trans "Sign Up" %}</h3>
      <form class="signup" id="signup_form" method="post" @submit="handleSubmit" v-cloak>
        {% csrf_token %}

        <div class="mt-4 mb-2">
          {% if socialaccount_providers %}
            <div class="socialaccount_ballot">
              <ul class="socialaccount_providers row">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>
          {% endif %}
          <div class="text-center position-relative" style="margin-top: 2rem;">
            <hr style="margin: 0; padding: 0">
            <span class="text-center mt-4 color-1 or-cls">Or</span>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check form-check-inline mr-4">
            <input class="form-check-input" type="radio" v-model="role_type" name="role_name" id="inlineRadio1" value="2">
            <label class="form-check-label" for="inlineRadio1" :class="{'color-1': role_type == '2'}">Shopper</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" v-model="role_type" name="role_name" id="inlineRadio2" value="1">
            <label class="form-check-label" for="inlineRadio2" :class="{'color-1': role_type == '1'}">Local Business</label>
          </div>
        </div>
        <div id="shopper" v-if="role_type == '2'">
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.first_name}" type="text" class="form-control" required v-model="shopper.first_name" id="first_name" placeholder="First name">
              <div class="invalid-feedback" v-if="errors.first_name">
                [{ errors.first_name.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input :class="{'is-invalid': errors.last_name}" type="text" class="form-control" required id="last_name" v-model="shopper.last_name"  placeholder="Last name">
              <div class="invalid-feedback" v-if="errors.last_name">
                [{ errors.last_name.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.username}" type="text" class="form-control" required id="username" v-model="shopper.username"  name="username" placeholder="Username">
              <div class="invalid-feedback" v-if="errors.username">
                [{ errors.username.join(", ") }]
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col">
              <input :class="{'is-invalid': errors.email}" type="email" class="form-control" required id="email" v-model="shopper.email"  name="email" placeholder="Email">
              <div class="invalid-feedback" v-if="errors.email">
                [{ errors.email.join(", ") }]
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
{#              <input :class="{'is-invalid': errors.phone_number}" type="text" class="form-control" required v-model="shopper.phone_number"  id="phone_number" placeholder="Phone number">#}
              <vue-phone-number-input v-model="shopper.phone_number" :required="true" :class="{'is-invalid': errors.phone_number}"/>
              <div class="invalid-feedback" v-if="errors.phone_number">
                [{ errors.phone_number.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <password-meter :class="{'is-invalid': errors.password}" default-class="form-control" v-model="shopper.password" placeholder="Password" :badge="false"></password-meter>
              <div class="invalid-feedback" v-if="errors.password">
                [{ errors.password.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="password" :class="{'is-invalid': errors.confirm_password || shopper_password_invalid, 'is-valid': shopper_password_valid}" class="form-control" required id="confirm_password" v-model="shopper.confirm_password" name="confirm_password" placeholder="Confirm password">
              <div class="invalid-feedback" v-if="errors.confirm_password">
                [{ errors.confirm_password.join(", ") }]
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="form-row">
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.first_name}" class="form-control" required v-model="vendor.first_name" id="first_name" placeholder="First name">
              <div class="invalid-feedback" v-if="errors1.first_name">
                [{ errors1.first_name.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.last_name}" class="form-control" required v-model="vendor.last_name" id="last_name" placeholder="Last name">
              <div class="invalid-feedback" v-if="errors1.last_name">
                [{ errors1.last_name.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
{#              <input type="text" :class="{'is-invalid': errors1.phone_number}" class="form-control" required id="phone_number" v-model="vendor.phone_number" placeholder="Phone number">#}
              <vue-phone-number-input v-model="vendor.phone_number" :required="true" :class="{'is-invalid': errors1.phone_number}"/>
              <div class="invalid-feedback" v-if="errors1.phone_number">
                [{ errors1.phone_number.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <input type="email" :class="{'is-invalid': errors1.email}" class="form-control" required id="email" name="email" v-model="vendor.email" placeholder="Email">
              <div class="invalid-feedback" v-if="errors1.email">
                [{ errors1.email.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <place-autocomplete-field
                    v-model="vendor.business_address" placeholder="Business Address" :group="true" class="form-group col"
                    name="business_address" api-key="{{ GOOGLE_MAPS_API_KEY }}"></place-autocomplete-field>

            <div class="form-group col">
              <input type="text" :class="{'is-invalid': errors1.apartment}" class="form-control" required id="apartment" v-model="vendor.apartment" name="apartment" placeholder="Apartment/Suite">
              <div class="invalid-feedback" v-if="errors1.apartment">
                [{ errors1.apartment.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" :class="{'is-invalid': errors1.business_phone}" class="form-control" required id="business_phone" v-model="vendor.business_phone" name="business_phone" placeholder="Business Phone">
              <div class="invalid-feedback" v-if="errors1.business_phone">
                [{ errors1.business_phone.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <password-meter :class="{'is-invalid': errors.password}" default-class="form-control" v-model="vendor.password" placeholder="Password" :badge="false"></password-meter>
              <div class="invalid-feedback" v-if="errors1.password">
                [{ errors1.password.join(", ") }]
              </div>
            </div>
            <div class="form-group col">
              <input type="password" :class="{'is-invalid': errors1.confirm_password || vendor_password_invalid, 'is-valid': vendor_password_valid}" class="form-control" required id="confirm_password" v-model="vendor.confirm_password" name="confirm_password" placeholder="Confirm password">
              <div class="invalid-feedback" v-if="errors1.confirm_password">
                [{ errors1.confirm_password.join(", ") }]
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <select id="store_type" :class="{'is-invalid': errors1.store_type}" class="form-control" v-model="vendor.category">
                <option value="" disabled selected>Store Type</option>
                <option v-for="c in categories" :value="c.id">
                  [{ c.name }]
                </option>
              </select>
              <div class="invalid-feedback" v-if="errors1.store_type">
                [{ errors1.store_type.join(", ") }]
              </div>
            </div>
          </div>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="">
          <button :disabled="loading" class="primaryAction btn btn-primary btn-block btn-lg white" type="submit">{% trans "Sign Up" %}</button>
          <p class="text-center mt-2 color-1">Already have an account? <a href="{{ login_url }}">Log in</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6" style="background-color: #ccc">

</div>
{% endblock %}

{% block main_vue %}
  <script>
  var app = new Vue({
    el: '#sign-up-form',
    delimiters: ["[{", "}]"],
    data: {
      shopper: {
        username: "",
        first_name: "",
        last_name: "",
        phone_number: "",
        email: "",
        password: "",
        confirm_password: "",
      },
      vendor: {
        first_name: "",
        last_name: "",
        phone_number: "",
        email: "",
        password: "",
        confirm_password: "",
        business_address: "",
        apartment: "",
        business_phone: "",
        category: ""
      },
      role_type: "2",
      store_types: [
        {value: "food", text: "Food"},
        {value: "clothes", text: "Clothes"},
        {value: "electronics", text: "Electronics"},
      ],
      errors: {},
      errors1: {},
      loading: false
    },
    watch: {
      role_type: function (val) {
        this.initRole(val)
      }
    },
    computed: {
      categories() {
        return this.$store.getters.shopCategories;
      },
      shopper_password_valid: function () {
        return this.shopper.password === this.shopper.confirm_password && this.shopper.confirm_password !== '' && this.shopper.password !== '';
      },
      shopper_password_invalid: function () {
        return this.shopper.password !== this.shopper.confirm_password && this.shopper.confirm_password !== '' && this.shopper.password !== '';
      },
      vendor_password_valid: function () {
        return this.vendor.password === this.vendor.confirm_password && this.vendor.confirm_password !== '' && this.vendor.password !== '';
      },
      vendor_password_invalid: function () {
        return this.vendor.password !== this.vendor.confirm_password && this.vendor.confirm_password !== '' && this.vendor.password !== '';
      },
    },
    created: function () {
      this.initRole(this.role_type);
      this.$store.dispatch('get_shop_categories');
    },
    methods: {
      initRole: function (val) {
        axios.get(`{% url 'api:signup-initial' %}?role=${val}`)
      },
      handleSubmit: function (e) {
        let that = this;

        this.loading = true;
        e.preventDefault()
        if (this.role_type == '2') {
          this.errors = {};
          axios.post("{% url 'api:shopper-signup' %}", this.shopper).then(function (res) {
            that.loading = false;
            alert("Your account created successfully.")
            location.href = '{{ login_url }}';
          }).catch(function (errors) {
              that.loading = false;
              that.errors = errors.response.data;
          })
        } else {
          this.errors1 = {};
          this.vendor.categories = [this.vendor.category];
          axios.post("{% url 'api:vendor-signup' %}", this.vendor).then(function (res) {
            that.loading = false;
            alert("Your account created successfully.")
            location.href = '{{ login_url }}';
          }).catch(function (errors) {
              that.loading = false;
              that.errors1 = errors.response.data;
          })
        }
      }
    }
  })
  </script>
{% endblock %}

